- if @authenticated

  %h2 Recently shortened
  
  %table
    %tr
      %td.label(nowrap='nowrap') Short URL <a href="/admin?s=code&d=asc">▲</a> <a href="/admin?s=code&d=desc">▼</a>
      %td.label(nowrap='nowrap') Full URL <a href="/admin?s=url&d=asc">▲</a> <a href="/admin?s=url&d=desc">▼</a>
      %td.label(nowrap='nowrap') Clicks <a href="/admin?s=clicks&d=asc">▲</a> <a href="/admin?s=clicks&d=desc">▼</a>
      %td.label(nowrap='nowrap') Shortened At <a href="/admin?s=created_at&d=asc">▲</a> <a href="/admin?s=created_at&d=desc">▼</a>
    - @urls.each do |url|
      %tr{ class: is_highlighted?(url) ? 'highlighted' : '' }
        %td.value
          %input{ type: "text", value: short_url(url), class: 'short_url', size: 31 }
        %td.value.fill <a href="#{url.url}">#{truncate url.url, 130}</a>
        %td.value.center= url.clicks
        %td.value= url.created_at.strftime("%Y-%m-%d %H:%M")

  :javascript
    $(document).ready(function() {
      $('input.short_url').each(function(index) {
        $(this).mouseup(function() { $(this).select(); });
      });  

      if (window.location.search == "") {
        var pathname = window.location.pathname + '?s=created_at&d=desc';
      } else {
        var pathname = window.location.pathname + window.location.search;
      }

      $('#main table tr td.label a').each(function(index) {
        if ($(this).attr('href') == pathname) {
          $(this).addClass('highlight');
        }
      });
    });
- else
  %h1 Please enter your API key
  
  %p
    Please enter your API key below to make sure only you can shorten URLs here.
  
  %form{ action: '/api/set', method: 'post' }
    %p
      %label{ for: 'api_key' } API Key
      %input{ type: 'password', name: 'api_key', id: 'api_key' }
    %p
      %input{ type: 'submit', name: 'submit', id: 'submit', value: "Let me in" }
